#wrapper {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
	color: #350b5fe7;
	font: 12px;
	margin: 2px;
	overflow: auto; /* полоса прокрутки */
}

.header {
	font: 12px Arial, sans-serif;
	background-color: #5836f1e8;
	border-top: 0px;
	margin: 0;
}

input[type="text"] {
	background-color: #ffffff;
	border: 1px solid #93c3f3d5;
	height: 30px;
	color: #cfb4f844;
	padding: 0 10px;
	vertical-align: top;
}

.button_go {
	color: #5836f1e8;
	background-color: #c0f3f7e8;
}

button {
	color: #ffffff;
	background-color: #5836f1e8;
	border: solid thick blue;
        border-radius: 2em;
        box-shadow: black 0.5em 0.5em 0.3em;
	height: 32px;
	font-family: 'Arial', sans-serif;
}

p {
	margin: 20px 0;
	padding: 10px 40px;
	border-top: 10px;
	color: #ffffff;
	background-color: #5836f1e8;
}

header {
	padding: 20px 0;
}
nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Roboto', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	background-color: #5836f1e8;
	border: solid thick blue;
        border-radius: 1em;
        box-shadow: black 0.5em 0.5em 0.3em;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #ffffff;
}

#heading_blok1 {
	margin: 60px 20px 50px;
	padding-left: 2px;
	background: #bee7ee;
}

#heading_blok2 {
	margin: 70px 20px 60px;
	padding-left: 2px;
	background: #bee7ee;
}

h1 {
	display: inline-block;
	color: hsl(0, 0%, 100%);
	font: 40px/40px Arial, sans-serif;
	margin: 10px;
	padding: 0 10px;
}

h2 {
	display: inline-block;
	font: 30px/30px Arial, sans-serif;
	color: #5836f1e8;
	margin: 10px;
	padding: 0 10px;
}


section {
	width: flex;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 0px;
}

figure {
	display: flex;
	margin: 0px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #87b5f1;
}
section > figure + figure {
	margin-left: 28px;
}

section > h2 {
	background: #888ee6;
	font: 30px 'Arial', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	margin: 30px 0 0 0;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure div {
	font-size: 14px;
	color: #29c5e6;
}

.team-row {
	background: #ffffff;
	font: 14px 'Arial', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	margin: 30px 0 0 0;
}

.team-row figure {
	margin-top: 20px;
}

.team-row figure + figure {
	margin-left: 43px;
}

.footer {
	margin: 20px 20px 20px;
	padding-right: 15px;
	font: 12px Arial, sans-serif;
	background-color: #e3eaf0e8;
	border-top: 10px;
	margin: 0;
}

#sitemap {
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: flex;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

#footer-logo {
	float: right;
	margin-top: 20px;
	text-align: right;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

.html{
	background-position: 0 0;
}
