#wrapper {
	min-height: 100vh;
        display: flex;
        flex-direction: column;
}

.header{
        backgraund-color: #7e7e7e;
        color: #dbdbdb;
}

img {
        width: 110px;
	height: 50px;
}

.mb-3 {
        backgraund-color: #0000FF;
        color: #0000FF;
        width: 400px;
	height: 100px;
        padding: 50px 0;
        font-size: 18px;
}

.footer {
	background: #ADD8E6;
	color: #7e7e7e;
	font-size: 16px;
}

link { 
       width: 45px;
       height: 45px;
       margin: 0;
       padding: 0px 0;
}

.links-soc { 
       margin: 0;
       padding: 0px 0;
}

.html{
	background-position: 0 0;
}

