.root {
    --primary: #697791;
    --primary-color: #bb5fc4;
    --primary-color-hover: #6d6175;
    --second-color: #eb53eb;
    --info: #00684f;
    --warning: #ffa235;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    background: #0f8f4f;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}