.root {
    --primary-color: #bb5fc4;
    --primary-color-hover: #9a35dd;
    --second-color: #eb53eb;
}

* {
    box-sizing: border-box;
}

body {
    background: #fadada;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}